html,
body {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font: 20px/1.5em HelveticaNeue, "Helvetica Neue", "Segoe UI", sans-serif;
}
h1, h2, h3, h4, h5 {
  white-space: pre-line;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Segoe UI Light", sans-serif;
  font-weight: 100 !important;
}
#roller {
  font-size: 10pt !important;
  line-height: 1.2345 !important;
}
#roller * {
  font-family: HelveticaNeue, "Helvetica Neue", "Segoe UI", sans-serif;
}
body > nav:first-child {
  background-color: #57534E;
  height: 50px;
  padding: 0 20px;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  display: block !important;
  line-height: 20pt;
  height: 50px;
}
menu > div > ul > li > a {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "HelveticaNeue", "Helvetica Neue", "Segoe UI", sans-serif !important;
}
#Logo {
  cursor: pointer;
  font-size: 0 !important;
  background-image: url(../images/CCUI-Logo-On-Dark.svg);
  background-position: left top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 300px;
  margin: 0 !important;
  height: 30px;
  position: absolute;
  top: 10px !important;
  left: 20px;
}
#landingPage section:nth-of-type(odd) {
  background-color: #F4F4F4;
}
body > nav:first-child > ul {
  float: right;
  padding: 0;
  margin: 0;
  height: 50px;
  box-sizing: border-box;
}
section {
  padding: 40px;
}
section:first-of-type {
  padding-top: 100px;
}
#communitySection > section:first-of-type {
  padding-top: 88px;
}
#landingPage section:first-of-type {
  padding-top: 40px;
}
body > nav:first-child > ul.menu > li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 0 0;
  height: 50px;
  box-sizing: border-box;
}
.menu > li > a > span + span {
  display: none;
}
.menu > li > a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7em;
  padding: 4px 10px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-weight: normal !important;
}
.menu > li.selected > a, 
.menu > li > a:hover {
  background-color: #E2865C;
}

body > nav:first-child > ul.menu > li > a,
body > nav:first-child > ul.menu > li > a > span {
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-size: 14px;
  letter-spacing: 1px !important;
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
}
menu {
  position: fixed;
  z-index: 11111111;
  top: 30px;
  left: 0;
  right: 0;
  background-color: #F4F4F4;
  padding: 4px 20px;
  border-bottom: solid 1px #888;
}
menu >  div {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 20px;
  box-sizing: border-box;
}
menu ul {
  padding: 0;
  margin: 0 0 0 -1500px;
  width: 100%;
  transition: margin .25s ease-out;
}
menu  ul > li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
menu  ul > li:hover a,
menu  ul > li.selected a {
  background-color: #57534E;
  color: #fff;
}
menu.submenu li a {
  color: #57534E;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 10px;
}
menu.submenu li:hover a,
menu.submenu li.selected a {
  color: #fff !important;
}
#landingPage > article {
  padding-top: 10px;
}
.header {
  background-color: #E2865C !important;
  padding: 50px 20px;
  margin-top: 100px;
  color: #fff;
}
.header > h2 {
  font-size: 2.5em;
  line-height: 1.1432;
  font-weight: 100;
  margin-bottom: 10px;
}
.header > h3 {
  margin-top: 0;
}
.platforms {
  padding: 80px 20px;
}
.platforms h2,
.platforms h3 {
  text-align: left !important;
  width: 520px;
  margin: 0 auto;
  position: relative;
  padding-left: 240px;
}
.platforms h2 {
  line-height: 1.3em;
  margin-bottom: 10px;
}
.platforms h3 {
  line-height: 1.2em;
}
.platforms h3 > img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 220px;
}
.features {
  padding: 40px 40px 60px;
}
#osMenu {
  width: 210px !important;
  margin: 0 auto 20px;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}
#osMenu li {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}
#osMenu li:first-child {
  margin-left: 0;
}
#osMenu li:last-child {
  margin-right: 0;
}
#osMenu li:hover,
#osMenu li.selected {
  background-position: 100% 100%;
}
.iOS {
  background-image: url(../images/ios-icon.png);
}
.Android {
  background-image: url(../images/android-icon.png);
}
.Windows {
  background-image: url(../images/win-icon.png);
}
#carousel {
  width: 700px;
  height: 340px;
  border: solid 2px #ccc;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
}
#seeAll {
  width: 700px;
  margin: 20px auto;
}
#seeAll > a {
  text-decoration: none;
  display: block;
  color: #585d63;
  border: solid 1px #585d63;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  height: auto;
  width: 150px;
  box-shadow: none;
  background: none;
  margin: 0 auto;
  text-align: center;
}
#seeAll > a:hover {
  opacity: .65;
}
#carousel > div {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  box-sizing: border-box;
}
#carousel ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
#carousel li {
  display: inline-block;
  margin: 20px;
  height: 300px;
  margin: 0 20px;
  padding: 0;
}
#carousel img {
  height: 300px;
  border: 1px solid #ddd;
}
.audience {
  padding: 40px;
}
.audience .logo {
  display: block;
  height: 60px;
  width: 60px;
  background-image: url(../images/CCUI-UI-Only-On-Light.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin: 0 auto 20px;
}
.opensource {
  padding: 60px 40px;
}
.opensource h2{
  position: relative;
  text-align: left;
  width: 600px;
  margin: 20px auto;
}
.opensource h2 > img {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
}
.opensource h3 {
  margin: 20px auto;
  width: 600px;
  text-align: justify;
}
footer {
  background-color: #57534E;
  padding: 60px 40px;
  color: #fff;
}
#download {
  background-color: #8DC464;
  color: #fff;
  border: 4px solid #fff;
  display: block;
  width: 150px;
  padding: 20px 50px;
  margin: 20px auto;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
}
#socialMedia {
  margin: 0 auto;
  padding: 0;
  width: 170px;
}
#socialMedia li {
  display: inline-block;
  height: 40px;
  width: 50px;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0;
}
#socialMedia li:hover {
  background-position: 100% -44px;
}
#facebook {
  background-image: url(../images/facebook.png);
}
#twitter {
  background-image: url(../images/twitter.png);
}
#google {
  background-image: url(../images/google.png);
}
#documentation, #tutorials, #community, #features {
  max-width: 800px;
  margin: 0 auto;
}
#community.themeSection {
  max-width: 860px !important;
  width: 860px !important;
}
#documentation h1, 
#tutorials h1, 
#community h1, 
#features h1,
#documentation h2, 
#tutorials h2, 
#community h2, 
#features h2,
#documentation h3, 
#tutorials h3, 
#community h3, 
#features h3,
#documentation h4, 
#tutorials h4, 
#community h4, 
#features h4 {
  text-align: left;
}

#documentation h1, 
#tutorials h1, 
#community h1, 
#features h1,
#documentation h2, 
#tutorials h2, 
#community h2, 
#features h2 {
  font-size: 18pt;
}
#accessMessage {
  display: none;
}

body > article {
  width: 100% !important;
}
body > article > section {
  margin: 0 auto !important;
}
.themeSection {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}
#tutorials img {
  border: solid 1px #ccc;
}

/* Media Queries */

@media only screen and (max-width: 899px) {
  #themesTab, #theme, #roller {
    display: none;
  }
  body {
    -webkit-box-orient: vertical !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
  }
  #accessMessage {
    display: block;
    margin: 60px auto 0;
    padding: 0 20px;
    font-size: 12pt;
    line-height: 1.75em;
    max-width: 400px;
  }
  #community.themeSection {
    border: none;
    width: auto !important;
  }
  body > section {
    border: none !important;
  }
}
@media only screen and (max-width: 768px) {
  #Logo {
    background-image: url(../images/CCUI-UI-Only-On-Dark.svg);
    width: 40px;
    height: 40px;
    margin-top: -4px !important;
  }
  .menu li a {
    ffont-size: .5em;
    padding: 2px 5px;
  }
  .menu > li {
    margin: 0 4px;
  }
  .menu > li:last-child,
  #download,
  #downloadTab {
    display: none;
  }
  .menu > li > a > span:first-child {
    display: none;
  }
  #themesLink {
    display: none;
  }
  .menu > li > a > span + span {
    display: inline-block;
  }
  #carousel {
    width: 100%;
  }
  #seeAll {
    width: 90%;
  }
  .platforms h2,
  .platforms h3 {
    width: 90%;
  } 
  menu.submenu li a {
    font-size: 12pt !important;
  }
}
/* For smaller phones */
@media only screen and (max-width: 630px) {
  h2, h3, h4, .opensource h2, .opensource h3 {
    white-space: normal;
    width: auto !important;
  }
  .platforms > h2,
  .platforms > h3 {
    padding-left: 0px !important;
  }
  .platforms > h3 > img,
  .opensource > h2 > img {
    display: none;
  }
  #landingPage h2 {
    font-size: 1.2em !important;
  }
  #landingPage h3 {
    font-size: 1em !important;
    line-height: 25px;
  }
}
@media only screen and (max-width: 480px) {
  #carousel {
    width: calc(100% + 80px);
    margin-left: -40px;
  }
  h2 {
    font-size: 150% !important;
  }
  #downloadTab {
    display: none;
  }
  #documentation p, #tutorials p, #community p,
  #documentation li, #tutorials li, #community li {
    font-size: .85em;
    line-height: 25px;
  }
  #documentation h2, #tutorials h2, #community h2 {
    font-size: 1.2em !important;
  }
  .opensource h3 {
    text-align: left;
  }
}

@media only screen and (max-width: 420px) {
  .menu li > a,
  .menu li > a > span {
    font-size: 8pt !important;
  }
  .menu li {
    margin: 0 5px !important;
  }
}