/*
ChocolateChip-UI
ChUI-Win.css
Copyright 2015 Sourcebits www.sourcebits.com
License: MIT
Version: 3.8.3
*/
/* ==============================
   Body
   =========================== */
html,
body {
  padding: 0;
  margin: 0;
/*  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;*/
  font: normal 14px/18px SegoeUI, HelveticaNeue, Sans-serif;
  -ms-touch-action: none;
}
body > nav:first-child + menu {
  margin-top: 20px;
}
#theme {
  /* Change background color for your app: */
  background-color: #000000;
  font: normal 10pt/13pt SegoeUI, HelveticaNeue, Sans-serif;
  -ms-user-select: none;
}
body * {
  -ms-user-select: none;
}
/* ==============================
   Article (view) styles
   =========================== */
#theme article {
  transition: opacity 0.5s ease-out, transform 0.35s ease-out;
}
/* ==============================
   Scrollers
   =========================== */
#theme article > section {
  height: 100%;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  -ms-flex: 1;
  flex: 1;
}

#theme article > section {
  padding-top: 10px;
}
#theme article > section > :last-child:not(button)::after {
  content: '';
  display: block;
  margin-bottom: 100px;
}
/* ==============================
  Horizontal Panels
  ============================== */
.horizontal {
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.horizontal.centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ==============================
   Buttons
   =========================== */
#theme button {
  cursor: pointer;
  text-decoration: none;
  font-size: 13pt;
  transition: all 0.35s ease-out;
  display: block;
  width: auto;
  box-sizing: border-box;
  height: 30px;
  height: auto;
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  border: solid 2px #ffffff;
  color: #ffffff;
  background-color: #000000;
  padding: 5px 10px;
  overflow: hidden;
  text-align: center;
}
button.align-flush {
  position: absolute;
  right: 16px;
  top: 16px !important;
}
#theme button:hover,
#theme button.selected {
  color: #ffffff;
  background-color: #007aff;
  border-color: #ffffff !important;
}
#theme button.back {
  display: inline-block;
  max-width: 45px;
  max-height: 45px;
  width: 45px;
  height: 45px;
  background-clip: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  padding: 0;
  text-align: center;
  font-size: 0 !important;
  line-height: 0 !important;
  /* line-height must match the content box height. */
  vertical-align: baseline;
  overflow: hidden;
}
#theme button.back::before {
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  content: "";
  display: block;
  height: 35px;
  width: 35px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width='30px'%20height='30px'%20viewBox='0%200%2030%2030'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20id='Page-1'%20stroke='none'%20stroke-width='1'%20fill='none'%20fill-rule='evenodd'%3E%3Cg%20id='Artboard-1'%20fill='#ffffff'%3E%3Cpath%20d='M11.4020124,18.2741603%20L28.8288961,18.2741603%20L28.8288961,11.7154319%20L11.4344601,11.7154319%20L19.1074316,2.81005859%20L10.63796,2.81005859%20L8.70019016e-18,15%20L10.3110338,27.1899414%20L19.1074316,27.1899414%20L11.4020124,18.2741603%20Z'%20id='Path-1\'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  margin: 0 0 0 -7px;
}
#theme button.back:hover {
  background-color: #ffffff;
}
#theme button.back:hover::before {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width='30px'%20height='30px'%20viewBox='0%200%2030%2030'%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%20id='Page-1'%20stroke='none'%20stroke-width='1'%20fill='none'%20fill-rule='evenodd'%3E%3Cg%20id='Artboard-1'%20fill='#000'%3E%3Cpath%20d='M11.4020124,18.2741603%20L28.8288961,18.2741603%20L28.8288961,11.7154319%20L11.4344601,11.7154319%20L19.1074316,2.81005859%20L10.63796,2.81005859%20L8.70019016e-18,15%20L10.3110338,27.1899414%20L19.1074316,27.1899414%20L11.4020124,18.2741603%20Z'%20id='Path-1\'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#theme button.action {
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  height: auto;
  min-width: 200px;
  max-width: 300px;
  border-radius: 0;
}
/* ============================== 
   Nav bars
   =========================== */
#theme nav {
  height: 45pt;
  width: 100%;
  line-height: 40pt;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  transition: opacity 0.5s ease-in, transform 0.35s ease-out;
  padding: 5px 15px;
  vertical-align: middle;
}
#theme nav > h1 {
  text-align: left;
  display: inline-block;
  margin: 0;
  font-size: x-large;
  font-family: SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  font-weight: normal;
  padding: 2px 10px 0px 0px;
  -ms-touch-action: none;
  position: relative;
  /*z-index: -1;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}
#theme nav button {
  position: relative;
  line-height: 20pt;
  padding: 0 10px;
}
#theme nav button + h1 {
  padding-left: 10px;
}
#theme nav button:first-of-type {
  line-height: 14pt;
  padding: 4px 10px;
  position: relative;
  top: 0;
  margin-left: 2px;
}
#theme nav button:hover {
  border-color: #ffffff !important;
  background-color: #ffffff;
  color: #000000;
}
#theme nav button.align-flush {
  position: absolute;
  right: 10px;
  top: 0;
}
#theme nav > h1 + button {
  margin-top: -4px;
  float: right;
}
#theme nav > h1 + button:first-of-type {
  margin-top: -4px;
  float: right;
}
/* ==============================
   Lists
   =========================== */
#theme nav > h1,
#theme h2,
#theme h3,
#theme h4,
#theme h5,
#theme section h2,
#theme p,
#theme li,
.list > li > p {
  color: #ffffff;
  text-align: left !important;
}
.list {
  list-style: none;
  margin: 10px 8px 0;
  padding: 0;
}
.list:first-child {
  margin-top: 0;
}
.list > li {
  padding: 5px;
  transition: all 0.3s ease-out;
  position: relative;
  background-color: #000000;
  font-size: initial;
  border: solid 1px transparent;
  -ms-user-select: none;
}
.list > li.show-detail::after {
  content: 'i';
  display: block;
  height: 20px;
  width: 22px;
  border-radius: 20px;
  border: solid 1px #ffffff;
  color: #ffffff;
  font: bold 14px/0 SegoeWP, SegoeUI, serif;
  box-sizing: border-box;
  padding: 10px 8px;
  position: absolute;
  top: 10px;
  right: 16px;
}
.list > li + .button.action {
  margin-top: 40px;
}
.list > li[data-goto]:hover,
.list > li[data-show-article]:hover {
  cursor: pointer;
  border: solid 1px #ffffff;
  background-color: #007aff;
  color: #ffffff !important;
}
.list > li[data-goto]:hover *,
.list > li[data-show-article]:hover * {
  color: #ffffff;
}
/* ==============================
   List footer
   =========================== */
.list ~ p {
  margin: 10px 25px 0;
}
.list ~ p + p {
  margin-top: 5pt;
}
/* ==============================
   List title & subtitle
   =========================== */
.list > li > h3,
.list > li > h4 {
  width: 80%;
  font-weight: 200;
  margin: 0;
}
.list > li h3 {
  font-size: 13pt;
  line-height: 16pt;
  margin-bottom: 4px;
  margin-top: 0 !important;
}
.list > li h4 {
  line-height: 12pt;
  color: #9e9e9e;
}
.list > li > h4,
.list > li > div > h4 {
  font-size: 12pt;
  line-height: 15pt;
  margin: 0;
}
.list + h2 {
  margin-top: 10px;
}
#theme h2 + .list {
  margin-top: 0;
  border-top: solid 2px rgba(255, 255, 255, 0.25);
  padding-top: 5px;
}
#theme h2 {
  font: normal 11pt/12pt SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  margin: 10px 10px 0px 10px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}
/* ==============================
   List detail
   =========================== */
#theme section > p,
.list > li > p,
.list > li > div > p {
  font-size: 11pt;
  line-height: 14pt;
  margin: 0;
}
.list > li p + p {
  margin-top: 5px;
}
.list > li > p {
  margin: 5px 0px;
  font-size: 11pt;
  line-height: 14pt;
  color: #ffffff;
}
/* ==============================
   Comp List Items
   =========================== */
li.comp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-bottom: 0;
}
li.comp > div {
  -webkit-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
  padding: 0 0 10px 0;
}
li.comp > div + aside {
  margin-right: -20px;
}
li.comp > h3,
li.comp > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  font-weight: 200;
}
li.comp > h3 > h3,
li.comp > h4 > h3 {
  margin: 0;
  min-width: 40%;
}
li.comp > h3 > h4,
li.comp > h4 > h4 {
  margin: 0;
}
li.comp.wrap > div > h3,
li.comp.wrap > div > h4 {
  white-space: normal;
  overflow: visible;
}
li.comp > aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -wekbit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 10px 0;
}
li.comp > aside:first-child {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 10px;
}
li.comp > aside:last-child {
  padding: 0 20px 10px 10px;
}
li.comp > aside > label,
li.comp > aside > span {
  display: inline-block;
  margin-left: 5px;
}
li.comp > aside > .nav {
  display: none;
}
li.comp > aside > .nav::after {
  display: none;
}
li.comp > aside > .show-detail::after {
  content: 'i';
  display: block;
  height: 20px;
  width: 22px;
  border-radius: 20px;
  border: solid 1px #ffffff;
  color: #ffffff;
  font: bold 14px/0 SegoeWP, SegoeUI, Times, serif;
  box-sizing: border-box;
  padding: 10px 8px;
  float: right;
  margin: -20px 0 0 0;
}
li.comp:last-of-type > aside:last-child {
  border: none;
}
.list > li > aside > h4 {
  margin: 0;
  font-weight: normal;
  color: #cccccc;
}
aside > span.counter,
aside > span.date-time {
  font-weight: normal;
  color: #cccccc;
  font-size: 12pt;
}
p {
  color: #ffffff;
}
/* ==============================
   Grids
   =========================== */
/* Grid: */
.grid {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-align-items: stretch;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
/* Allow columns to wrap */
.grid.wrap {
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Column: */
.col {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* Centered grids: */
.grid.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.center .col {
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-grow: 0;
  -ms-flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* Columns: */
.flex-1 {
  -webkit-flex-basis: 10%;
  -ms-flex-basis: 10%;
  flex-basis: 10%;
}
.flex-2 {
  -webkit-flex-basis: 20%;
  -ms-flex-basis: 20%;
  flex-basis: 20%;
}
.flex-3 {
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}
/* ==============================
   Segmented Control
   =========================== */
.segmented {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -wekbit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -wekbit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  margin: 0px 10px;
}
.segmented > button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid 2px #ffffff;
  border-left: none !important;
  text-align: center;
  font-size: 9pt;
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
  margin: 0px !important;
  padding: 0px 10px;
  transition: none;
}
.segmented > button:first-of-type {
  border-left: solid 2px #ffffff !important;
}
.segmented > button:hover,
.segmented > button.selected {
  color: #ffffff !important;
  background-color: #007aff !important;
  opacity: 1 !important;
  box-shadow: none;
  border-color: #ffffff !important;
}
div.horizontal.centered > .segmented {
  display: -ms-flexbox;
  display: flex;
  margin: 10px 16px;
}
.segmented.align-flush {
  position: absolute;
  right: 15px;
  top: 10px;
}
/* ==============================
   Toolbar Styles
   =========================== */
div.toolbar {
  width: 100%;
  height: 45pt;
  padding: 0 15px;
  background-color: #1a1a1a;
  border-top: solid 1px #333333;
  border-bottom: solid 1px #333333;
  overflow: hidden;
  box-sizing: border-box;
  display: -wekbit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -wekbit-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -wekbit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
}
div.toolbar > button {
  margin-right: 10px;
}
/* ============================== 
   Select List
   =========================== */
.list.select li::before {
  content: '';
  display: block;
  float: left;
  transition: all 0.125s ease-in-out;
  border: solid 2px #ffffff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 0px;
}
.list.select li:hover::before,
.list.select li.selected::before {
  background-image: radial-gradient(circle, #ffffff 5px, transparent 5px);
  background-color: #3395ff;
}
.list.select li > input {
  display: none;
}
/* ==============================
   Switch
   =========================== */
.switch {
  position: relative;
  height: 25px;
  width: 60px;
  border: 2px solid #ffffff;
  background-color: #000000;
  display: -webkit-box;
  display: -wekbit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  -ms-user-select: none;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchAnimationOff;
}
.switch:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 3;
  top: 0px;
  border: solid 1px #ffffff;
  background-color: #1f8aff;
  height: 19px;
  width: 0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.switch.on:before {
  width: 54px;
}
.switch.on > em {
  -webkit-transform: translate3d(48px, 0, 0);
  -ms-transform: translate3d(48px, 0, 0);
  transform: translate3d(48px, 0, 0);
}
.switch > em {
  display: block;
  position: relative;
  z-index: 3;
  top: -2px;
  left: 0;
  background-color: #ffffff;
  width: 12px;
  height: 25px;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -ms-touch-action: none;
}
.switch > input {
  display: none;
}

menu > div > ul > li > a {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "HelveticaNeue", Helvetica, Calibri, sans-serif !important;
}
#osMenu {
  width: auto !important;
  margin: 0 auto 20px !important;
}
/* Sarari Only */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
  #theme nav > h1 + button {
    position: relative;
    top: 8px !important;
  }
  #theme div.toolbar.current > button {
    height: 40px !important;
    margin-top: 8px !important;
    padding: 2px 10px !important;
  }
  .switch > em {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}
/* Firefox only */
@-moz-document url-prefix() { 
  #theme h2 {
    overflow: visible !important;
  }
  #theme button.back::before {
    margin-left: 0px;
    background-image: url(../images/winBack.svg) !important;
  }
}

@media screen and (-ms-high-contrast:none), (-ms-high-contrast:active) {
  #theme button.back::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    content: "\E0D5";
    vertical-align: 50%;
    font-size: 14pt;
    display: block;
    margin-left: -3px;
  height: auto;
  width: auto;
  }
}