/*
ChocolateChip-UI
ChUI-Android.css
Copyright 2015 Sourcebits www.sourcebits.com
License: MIT
Version: 3.8.8
*/
/* ==============================
   Article (view) styles      
   =========================== */
@-webkit-keyframes backButtonRipple {
  0% {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.25);
  }
  90% {
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.15), 0 0 3px rgba(0, 0, 0, 0.25);
  }
  100% {
    box-shadow: inset 0 0 0 rbga(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes tapRipple {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 100% 500%;
  }
  100% {
    background-size: 1100% 1100%;
  }
}
@-webkit-keyframes listRipple {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 50% 100%;
  }
  100% {
    background-size: 500% 500%;
  }
}
@-webkit-@keyframes switchRipple {
  0% {
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
  }
  40% {
    box-shadow: 0px 0 5px 8px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
  }
}
@-webkit-@keyframes switchRippleReverse {
  0% {
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
  }
  40% {
    box-shadow: 0px 0 5px 8px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
  }
}
#theme article {
  padding-top: 1px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  z-index: 1111111;
}
article#theme {
  background-color: #fafafa;
  overflow: hidden;
}
/* ==============================
   Horizontal Panels
   =========================== */
.horizontal {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.horizontal.centered {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
/* ==============================
   Buttons                
   =========================== */
button.align-flush {
  position: absolute !important;
  top: auto;
  bottom: auto;
  right: 10px;
  top: 4px;
  left: auto;
}
button {
  text-transform: uppercase !important;
}
button:focus {
  outline: none;
}
button:not(.segment) {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  color: #666666;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 12px;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 12px 20px 10px;
  text-transform: uppercase;
  font-family: 'Roboto Regular', HeveticaNeue, Sans-serif;
  border-radius: 2px;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-timing-function: ease-out;
  animation-duration: 0.35s;
  animation-timing-function: ease-out;
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 60%);
  background-size: 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-fill-mode: forwards;
}
button:not(.segment):not(.back) {
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.025) 10%);
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 1px 4px #666666;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
button:not(.segment):not(.back).selected,
button:not(.segment):not(.back):hover {
  -webkit-animation-name: tapRipple;
  animation-name: tapRipple;
  box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.25);
}
button:not(.segment):focus {
  outline: none !important;
}
button:not(.segment).no-border {
  border: none !important;
}
button:not(.segment).action {
  color: #666666;
  background-color: #f5f5f5;
  margin: 0 auto;
  width: auto;
  height: 40px;
  min-width: 200px;
  max-width: 300px;
  margin: 20px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
section > button:not(.segment).action.action {
  margin: 20px auto;
}
button:not(.segment).action:hover {
  box-shadow: 0 3px 7px #666666;
  box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.25);
}
nav > button:not(.segment).back {
  padding: 10px;
  text-align: left;
  background-color: transparent;
  background-image: none;
  background-image: -webkit-linear-gradient(left, #000000, #000000);
  background-image: linear-gradient(left, #000000, #000000);
  background-image: linear-gradient(to left, #000000, #000000);
  background-size: 19px 2px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  overflow: visible;
  box-shadow: none;
  margin: 0 0 0 0;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-size: 0 !important;
  -webkit-animation-name: '';
  top: 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
nav > button:not(.segment).back:hover {
  -webkit-animation-name: backButtonRipple;
  animation-name: backButtonRipple;
  background-color: transparent !important;
}
nav > button:not(.segment).back::before {
  display: block;
  content: '';
  -webkit-mask-image: none !important;
  background-color: black;
  height: 2px;
  width: 14px;
  position: absolute;
  top: 12px;
  left: 6px;
  transition: all 0.25s ease-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
nav > button:not(.segment).back::after {
  display: block;
  content: '';
  -webkit-mask-image: none !important;
  background-color: black;
  height: 2px;
  width: 14px;
  position: absolute;
  top: 22px !important;
  left: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.isChrome a.button.back {
  top: 6px;
}
nav > button,
nav > div > button,
.toolbar > button {
  -webkit-appearance: none;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 12px 20px 10px;
  margin: 5px;
}
nav > button:not(.back):hover
.toolbar > button:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
/* ==============================
   Nav bars               
   =========================== */
nav {
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  text-align: center;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  padding: 0 5px;
  vertical-align: middle;
  background-color: #f0f0f0;
  overflow: hidden;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ddd;
  box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.1);
  padding: 0 5px;
  width: 100%;
  position: relative;
}
nav > button:first-child {
  margin-left: 0;
}
nav > h1 {
  text-align: left;
  display: inline-block;
  margin: 0 16px 0 8px;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  font: 100 14pt/30pt Roboto, SegoeWP, HelveticaNeue, Sans-serif !important;
  position: relative;
  /*z-index: -1;*/
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
}
nav > h1 + button {
  margin: 5px 5px 0 0;
  position: absolute;
  top: 0;
  right: 10px;
}
nav > button,
nav > div > button {
  position: relative;
  color: #000000 !important;
}
nav > button:hover,
nav > div > button:hover {
  /*background-color: rgba(0, 0, 0, 0.25) !important;*/
  color: #000000;
  background-color: rgba(255, 255, 255, 0.25);
}
nav .back:hover {
  -webkit-animation: animate-icon 0.5s none;
  color: #000000;
}
/* ==============================
   Lists                 
   =========================== */
.list {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
  border-top: solid 1px #cbcbcb;
  border-bottom: solid 1px #cbcbcb;
  background-color: #ffffff;
  width: 100%;
}
.list > li {
  padding: 8px 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  background-color: #ffffff;
  font-size: 10pt;
  border-bottom: solid 1px #cbcbcb;
}
.list > li.nav::after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-right: solid 3px #666666;
  border-top: solid 3px #666666;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
  position: absolute;
  top: 16px;
  right: 15px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.list > li.show-detail::after {
  content: 'i';
  display: block;
  width: 22px;
  height: 20px;
  border-radius: 20px;
  border: solid 1px #007aff;
  color: #007aff;
  font: bold 14px/0 Roboto, SegoeWP, HelveticaNeue, Sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px;
  position: absolute;
  top: 10px;
  right: 16px;
}
.list + .button {
  margin-top: 20px !important;
}
h2 + .list {
  margin-top: 0;
}
/* ==============================
   List Footer
   =========================== */
p {
  font-family: 'Roboto Regular', 'HeveletcaNeue', Helvetica, sans-serif;
}
.list ~ p {
  margin: 10px 16px 0;
}
.list ~ p + p {
  margin-top: 5pt;
}
.list > li[data-goto] {
  cursor: pointer;
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.035) 20%);
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.list.select > li:hover {
  cursor: pointer;
}
.list > li[data-goto]:hover {
  -webkit-animation-name: listRipple;
  animation-name: listRipple;
}
/* ==============================
   list title & subtitle      
   ============================ */
.list > li {
  color: #2d2d2d;
}
.list > li > h3,
.list > li > h4 {
  width: 80%;
  font-weight: 200;
  margin: 0;
}
.list > li > h3 > span,
.list > li > h4 > span {
  font-size: inherit;
  font-weight: inherit;
}
.list > li h3 {
  font-family: 'Roboto Thin', 'HeveletcaNeue Light', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12pt;
  line-height: 15pt;
  margin-bottom: 2px;
  color: #2d2d2d;
}
.list > li h4 {
  font-family: 'Roboto Regular', 'HeveletcaNeue', Helvetica, sans-serif;
  font-weight: normal;
  color: #2d2d2d;
}
.list > li > h4,
.list > li > div > h4,
.list > li > p,
.list > li > div > p {
  font-size: 10pt;
  line-height: 14pt;
  margin: 0;
}
.list > li > p,
.list > li > div > p {
  font-size: 10pt;
  line-height: 13pt;
}
.list > li > p + p,
.list > li > div > p + p {
  margin-top: 6px;
}
.list > li + .button.action {
  margin-top: 40px;
}
/* ==============================
   List detail             
   ============================ */
.list > li > p {
  margin: 6px 16px 6px 0;
  font-size: 10pt;
  line-height: 13pt;
  color: #666666;
}
/* ==============================
   List title
   =========================== */
#theme h2 {
  font: normal 11pt/12pt 'Roboto Regular', SegoeWP, HelveticaNeue, Sans-serif;
  color: #4d4d4d;
  margin: 26px 0 6px 0;
  padding-left: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 6px;
}
/* ==============================
   Comp List Items          
   =========================== */
li.comp {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -display: flex;
  -webkit-direction: row;
  -webkit-align-items: stretch;
  display: flex;
  direction: row;
  align-items: stretch;
  padding-bottom: 0;
}
li.comp.wrap > div > h3,
li.comp.wrap > div > h4 {
  white-space: wrap;
  overflow: visible;
}
li.comp > div {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  padding: 0 0 10px 0;
}
li.comp > div:first-child {
  padding: 8px 0 10px 0;
  min-width: 48%;
}
li.comp > div:first-child + aside > h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60%;
}
li.comp > div:first-child + aside > h4:nth-child(1) {
  max-width: 100% !important;
}
li.comp > div > div > h3,
li.comp > div > div > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto Thin', SegoeWP, HelveticaNeue, Sans-serif;
  font-weight: 200;
}
li.comp > div > h3 {
  font-family: 'Roboto Thin', SegoeWP, HelveticaNeue, Sans-serif;
  line-height: 18pt;
  margin: 0 0 10px 0;
  font-weight: 200;
}
li.comp > div > h4 {
  margin: 0;
}
li.comp > aside {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0 10px 0;
}
li.comp > aside:first-child {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-right: 10px;
  padding: 0 0px 10px 0px;
}
li.comp > aside > h4 {
  margin: 0;
  font-weight: normal;
  color: #666666;
}
li.comp > aside > label,
li.comp > aside > span {
  display: inline-block;
  margin-left: 6px;
}
li.comp > aside > .nav {
  display: block;
  width: 12px;
  height: 12px;
}
li.comp > aside > .nav::after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-right: solid 3px #666666;
  border-top: solid 3px #666666;
  -webkit-transform: rotate(45deg) translate3d(2px, -2px, 0);
  -moz-transform: rotate(45deg) translate3d(2px, -2px, 0);
  transform: rotate(45deg) translate3d(2px, -2px, 0);
}
li.comp > aside > .show-detail {
  display: inline-block;
  margin-bottom: -4px;
}
li.comp > aside > .show-detail::after {
  content: 'i';
  display: block;
  width: 22px;
  height: 20px;
  border-radius: 20px;
  border: solid 1px #007aff;
  color: #007aff;
  font: bold 14px/0 Roboto, Times, serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px;
  float: right;
  margin: -20px 0 0 0;
}
li.comp:last-of-type > aside:last-child {
  border: none;
}
p {
  color: #707070;
  font-size: 10pt;
  line-height: 14pt;
}
/* ==============================
   Grids
   =========================== */
/* Grid: */
.grid {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-align-items: stretch;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
/* Allow columns to wrap */
.grid.wrap {
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Column: */
.col {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* Centered grids: */
.grid.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.center .col {
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-grow: 0;
  -ms-flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* Columns: */
.flex-1 {
  -webkit-flex-basis: 10%;
  -ms-flex-basis: 10%;
  flex-basis: 10%;
}
.flex-2 {
  -webkit-flex-basis: 20%;
  -ms-flex-basis: 20%;
  flex-basis: 20%;
}
.flex-3 {
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}
/* ==============================
   Segmented Control
   =========================== */
.segmented {
  display: -moz-box;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 10px;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  height: 44px;
}
.segmented > button.segment {
  -webkit-appearance: none !important;
  background-color: transparent !important;
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.025) 10%);
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 1px 4px #666666;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: solid 1px #979797;
  text-align: center !important;
  padding: 10px 10px 4px;
  border: none;
  border-bottom: solid 1px #cecece;
  box-shadow: none !important;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
  margin: 0px !important;
  padding: 6px 20px 0px !important;
  border-radius: 0;
}
.segmented > button:hover,
.segmented > button.selected {
  opacity: 1 !important;
  box-shadow: none;
  border-bottom: solid 3px #007aff;
  padding: 11px 10px 3px;
  -webkit-animation-name: tapRipple;
  animation-name: tapRipple;
}
/* ==============================
   Segmented Paging Control
   =========================== */
.segmented.paging > button {
  top: 4px;
  background: none !important;
}
.segmented.paging.horizontal > button {
  border: none !important;
  background-color: none !important;
  margin: 0 !important;
  width: 30px !important;
  height: 40px !important;
}
/* ==============================
   Toolbar Styles
   =========================== */
.toolbar {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box !important;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  padding: 0 16px;
  vertical-align: middle;
  background-color: #eaeaea;
  overflow: hidden;
  border-top: solid 1px #666666;
}
.toolbar > button {
  color: #000000;
}
.toolbar > button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.toolbar > button.align-flush {
  top: 5px !important;
}
div.toolbar.current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* ============================== 
   Select List
   =========================== */
.list.select li {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.035) 20%);
  background-size: 1000% 1000%;
  background-repeat: no-repeat;
  background-position: center center;
}
.list.select li:hover {
  -webkit-animation-name: listRipple;
  animation-name: listRipple;
}
.list.select li:hover::after {
  background-color: #007aff;
  opacity: 1;
  box-shadow: inset 0 0px 0px 3px #fff;
  border: solid 2px #007aff;
}
.list.select li.selected::after {
  background-color: #007aff;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  opacity: 1;
  box-shadow: inset 0 0px 0px 3px #fff;
  border: solid 2px #007aff;
}
.list.select li::after {
  content: '';
  display: block;
  float: right;
  margin-top: -25px;
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  opacity: 1;
  border: solid 2px #525252;
  border-radius: 15px;
}
.list.select li > input {
  display: none;
}
.list.select li > input {
  display: none;
}
/* Custom Styles */
body {
  font-family: SegoeUI, 'Segoe UI', HelveticaNeue, 'Helvetica Neue', Arial, Sans-serif;
}
button {
  background-color: transparent;
}
#selectList li > h3 {
  width: auto;
}
.toolbar {
  position: relative;
  border-bottom: solid 1px #a7a7aa;
}
article#main {
  right: 50%;
  border-right: solid 2px #ccc;
}
.tabbar {
  position: relative;
}
button.action {
  display: block !important;
  text-align: center !important;
}
button.back {
  margin-right: 6px;
}
.popup > footer {
  width: auto !important;
}

/* ==============================
   Switch
   =========================== */
.switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  display: -moz-box;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: justify;
  -webkit-justify-content: distribute;
  justify-content: space-around;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(left, #66afff, #66afff), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(to left, #66afff, #66afff), linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-position: left 3px, left 3px;
  background-size: 0% 14px, 100% 14px;
  background-repeat: no-repeat, no-repeat;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  cursor: pointer;
  border-radius: 50% !important;
  -webkit-user-select: none;
  -webkit-animation-duration: .65s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchAnimationOff;
  user-select: none;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.switch > em {
  display: block;
  position: relative;
  z-index: 30;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);
  pointer-events: none;
  -webkit-transform: translate3d(-1px, 0, 0);
  -moz-transform: translate3d(-1px, 0, 0);
  transform: translate3d(-1px, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchRippleReverse;
}
.switch.on {
  background-size: 100% 14px, 100% 14px;
}
.switch.on > em {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  background-color: #007aff;
  animation-name: switchRipple;
}
.switch > input {
  display: none;
}
#theme nav > h1,
#theme h2,
#theme h3,
#theme h4,
#theme h5,
#theme section h2,
#theme p,
#theme li,
.list > li > p {
  text-align: left !important;
}
#osMenu {
  padding-left: 20px !important;
  width: auto !important;
}
/* Sarari Only */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
  nav > h1 {
    top: 2px !important;
  }  
  #theme nav > button.back {
    top: -5px !important;
  }
  nav > button:not(.segment).back::after {
    top: 21px !important;
  }  
}

/* Chrome only */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  #theme nav > button.back {
    top: 0px !important;
  }
  nav.navbar h1 {
    top: 0px;
  }
  li.selected > .deletion-indicator::before {
    top: 1px !important;
  }
  #weather-icon-aside {
    display: inline-block !important;
    width: 40px !important;
  }  
}
/* Firefox only */
@-moz-document url-prefix() { 
  .align-flush {
    top: 0;
  } 
}

/* IE only */
@media screen and (-ms-high-contrast:none), (-ms-high-contrast:active) {  
  .align-flush {
    top: 0;
  }
  #theme button:hover {
    background-color: rgba(0, 0, 0, 0.20);
  }
  #theme .segmented:not(.paging) > button {
    line-height: 1.5em !important;
  }
}