/*
ChocolateChip-UI
ChUI-iOS.css
Copyright 2015 Sourcebits www.sourcebits.com
License: MIT
Version: 3.8.3
*/
button {
  border: none;
  background: none;
  display: block;
  cursor: pointer;
  text-decoration: none;
  font: -apple-system-caption1;
  font-size: 13pt;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-box-sizing: auto;
  box-sizing: auto;
  padding: 8px 0px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: center;
  color: #007aff;
  border-color: #007aff;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
}
button.action {
  color: #585d63;
  border: solid 1px #585d63;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  height: auto;
  min-width: 200px;
  box-shadow: none;
  background: none;
}
#theme * {
  -webkit-font-smoothing: subpixel-antialiased;
}
#theme button.action:hover {
  opacity: .65 !important;
}
#theme > button:hover {
  cursor: pointer;
  opacity: .65 !important;
}
#theme nav {
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 0 15px;
  vertical-align: middle;
  background-color: #f7f7f7;
  border-top: solid 1px #a7a7aa;
  border-bottom: solid 1px #a7a7aa;
  margin-bottom: 6px;
  position: relative;
}
#theme nav > h1 {
  text-align: center !important;
  display: inline-block;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  font: normal 12pt/14pt HelveticaNeue, Sans-serif;
  position: absolute;
  top: 0;
  left: 100px;
  right: 100px;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  margin: 12px auto !important;
}
#theme button.back {
  margin: 0;
  text-align: left;
  padding: 0 0 0 20px !important;
  line-height: 28px;
  border: none;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block !important;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 6px;
  z-index: 1000;
}
button.back::before {
  display: block;
  content: '';
  border: solid 1px transparent;
  background-position: center center;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20version%3D'1.1'%20width%3D'21'%20height%3D'35'%20viewBox%3D'0%200%2021%2035'%20id%3D'svg2'%3E%3Cdefs%20id%3D'defs8'%20/%3E%3Cg%20transform%3D'translate%28-2.1355929,0.0677963%29'%20id%3D'Page-1'%20style%3D'fill%3Anone%3Bstroke%3Anone'%3E%3Cpath%20d%3D'M%2021.353814,1.2365445%205.0903576,17.5%2021.353814,33.763456'%20id%3D'Rectangle-1'%20style%3D'stroke%3A%23007aff%3Bstroke-width%3A3'%20/%3E%3C/g%3E%3C/svg%3E");
  background-position: left center;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  position: absolute;
  left: -4px;
  top: 4px;
}
nav > h1 + button {
  position: absolute;
  right: 20px;
  top: 4px;
}
nav > h1 + button:hover {
  opacity: .65 !important;
}
.list {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px #c8c8c8;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
}
.list > li {
  padding: 13px 15px 13px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  background-color: #ffffff;
  font-size: 12pt;
}
.list > li::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 0px;
  border-bottom: solid 1px #c8c8c8;
}
.list > li:last-of-type::before {
  border-bottom: none;
}
.list > li.nav::after {
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  border-right: solid 2px #c7c7cc;
  border-top: solid 2px #c7c7cc;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
  position: absolute;
  top: 16px;
  right: 15px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.list > li > h3,
.list > li > h4 {
  width: 80%;
  font-weight: 200;
  margin: 0;
}
.list > li[data-goto]:hover {
  background-color: #d9d9d9;
}
.list > li > p,
.list > li > div > p,
.list > li > aside > p {
  margin: 0;
  font-size: 11pt;
}
#theme h1 {
  font-weight: 100;
  font-size: 1.25em;
}
#theme h2 {
  font-size: .75em;
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 15px;
}
#theme h3 {
  font-size: 1em;
  font-weight: 400 !important;
}
.list > li > h3,
.list > li > h4 {
  width: 80%;
  font-weight: 200;
  margin: 0;
}
.list > li h4 {
  line-height: 14pt;
  color: #7f7f7f;
}
.list > li > h4,
.list > li > div > h4 {
  margin: 0;
}
.list > li > aside > h4 {
  margin: 0;
  font-weight: normal;
  color: #7f7f7f;
}
 .list > li.comp::before {
  content: none;
}
li.comp {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding-bottom: 0;
}
li.comp > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border-bottom: solid 1px #c8c8c8;
  padding: 0 0 10px 0;
  margin-left: 0;
}
li.comp > div > h3,
li.comp > div > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200;
  margin: 0;
  color: #2d2d2d;
}
li.comp > div > p {
  line-height: 1.25em;
}
li.comp > div + aside {
  margin-right: -15px;
}
li.comp > aside:first-of-type {
  -webkit-box-align: start !important;
  align-items: flex-start !important;
  padding-top: 8px;
}
li.comp > aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-justify-content: center;
  padding: 0 0 10px 0;
}
li.comp > div + aside {
  -webkit-align-items: center;
  align-items: center;
}
li.comp > aside > label,
li.comp > aside > span {
  display: inline-block;
  margin-left: 6px;
}
li.comp > aside > .nav {
  display: block;
  width: 12px;
  height: 12px;
}
li.comp > aside > .nav::after {
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  border-right: solid 2px #c7c7cc;
  border-top: solid 2px #c7c7cc;
  -webkit-transform: rotate(45deg) translate3d(4px, 0, 0);
  transform: rotate(45deg) translate3d(4px, 0, 0);
}
li.comp > aside > .show-detail {
  display: inline-block;
  margin-bottom: -4px;
}
li.comp > aside > .show-detail::after {
  display: block;
  content: 'i';
  width: 22px;
  height: 20px;
  border-radius: 20px;
  border: solid 1px #007aff;
  color: #007aff;
  font: bold 14px/0 'Times', serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px;
  float: right;
  margin: 0px 10px 0 0 !important;
}
li.comp > aside:first-child {
  margin-right: 10px;
}
li.comp > aside:last-child {
  padding: 0 10px 10px 10px;
  border-bottom: solid 1px #c8c8c8;
}
li.comp > aside > span.counter,
li.comp > aside > span.date-time {
  font-weight: normal;
  color: #7f7f7f;
  font-size: 1em;
}
li.comp:last-of-type > aside:last-child {
  border: none;
}
li.comp:last-of-type > div {
  border: none;
}
li.comp.wrap > div > h3,
li.comp.wrap > div > h4 {
  white-space: wrap;
  overflow: visible;
}
.segmented {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.segmented > button {
  display: block;
  border: solid 1px #007aff;
  padding: 4px 15px;
  margin: 0;
  border-left: none;
  background-color: rgba(255, 255, 255, 0.65);
  width: auto;
  overflow-x: hidden;
  -webkit-transition: none;
  transition: none;
  font-size: 10pt;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  color: #007aff;
}
.segmented > button:first-of-type {
  border-left: solid 1px #007aff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.segmented > button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.segmented > button:hover,
.segmented > button.selected {
  color: #ffffff;
  background-color: #007aff;
  opacity: 1 !important;
}
div.horizontal.centered > .segmented {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin: 10px 15px;
}
.toolbar {
  position: relative;
  height: 45px;
  padding: 0 15px;
  background-color: #f7f7f7;
  border-top: solid 1px #a7a7aa;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  border-bottom: solid 1px #a7a7aa;
}
.toolbar > button {
  margin-right: 20px;
}
.toolbar > button:hover {
  opacity: .65 !important;
}
.list.select li.selected,
.list.select li:hover {
  background-color: #d9d9d9;
}
.list.select li > input {
  display: none;
}
.list.select li.selected::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20version%3D'1.1'%20width%3D'32'%20height%3D'26'%20viewBox%3D'0%200%2032%2026'%20id%3D'svg2'%3E%3Cdefs%20id%3D'defs8'%20/%3E%3Cg%20transform%3D'translate%280.13135593,-0.34322034%29'%20id%3D'Page-1'%20style%3D'fill%3Anone%3Bstroke%3Anone'%3E%3Cg%20id%3D'Artboard-1'%20style%3D'stroke%3A%23007aff%3Bstroke-width%3A5'%3E%3Cpath%20d%3D'm%2010.500868,22.761362%2011.023688,0%200,-27.9582975'%20transform%3D'matrix%280.70710678,0.70710678,-0.70710678,0.70710678,10.899977,-8.7504466%29'%20id%3D'Rectangle-1'%20/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  float: right;
  margin-top: -20px;
}
.switch {
  display: inline-block;
  width: 54px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px #e6e6e6;
  border-radius: 20px;
  position: relative;
  box-shadow: inset 0 0 0 15px #ffffff;
  cursor: pointer;
  -webkit-animation-duration: .65s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchAnimationOff;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchAnimationOff;
}
.switch > em {
  display: block;
  width: 27px;
  height: 27px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 5px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -webkit-animation-duration: .45s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchThumbAnimationOff;
  transition: -webkit-transform 0.1s ease-in-out;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchThumbAnimationOff;
  pointer-events: none;
}
.switch > input {
  display: none;
}
.switch.on {
  border-color: #6ee102;
  box-shadow: inset 0 0 0 15px #6ee102;
  -webkit-animation-name: none;
  animation-name: none;
}
.switch.on > em {
  -webkit-transform: translate3d(23px, 0, 0);
  -webkit-transition-duration: .2s;
  -webkit-animation-duration: .45s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchThumbAnimation;
  transform: translate3d(23px, 0, 0);
  transition-duration: .2s;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchThumbAnimation;
}
@-webkit-keyframes switchAnimationOff {
  0% {
    box-shadow: inset 0 0 0 15px #e6e6e6;
  }
  49.999% {
    box-shadow: inset 0 0 0 0 #e6e6e6;
  }
  50% {
    box-shadow: inset 0 0 0 0 #fff;
  }
  100% {
    box-shadow: inset 0 0 0 15px #fff;
  }
}
@-webkit-keyframes switchThumbAnimation {
  0% {
    width: 27px;
  }
  1% {
    width: 40px;
  }
  50% {
    width: 27px;
  }
  100% {
    width: 27px;
  }
}
@-webkit-keyframes switchThumbAnimationOff {
  0% {
    width: 27px;
  }
  5% {
    width: 45px;
  }
  50% {
    width: 27px;
  }
  100% {
    width: 27px;
  }
}
@keyframes switchAnimationOff {
  0% {
    box-shadow: inset 0 0 0 15px #e6e6e6;
  }
  49.999% {
    box-shadow: inset 0 0 0 0 #e6e6e6;
  }
  50% {
    box-shadow: inset 0 0 0 0 #fff;
  }
  100% {
    box-shadow: inset 0 0 0 15px #fff;
  }
}
@keyframes switchThumbAnimation {
  0% {
    width: 27px;
  }
  1% {
    width: 40px;
  }
  50% {
    width: 27px;
  }
  100% {
    width: 27px;
  }
}
@keyframes switchThumbAnimationOff {
  0% {
    width: 27px;
  }
  5% {
    width: 45px;
  }
  50% {
    width: 27px;
  }
  100% {
    width: 27px;
  }
}
#theme h2,
#theme h3,
#theme h4,
#theme h5,
#theme section h2,
#theme p,
#theme li,
.list > li > p {
  text-align: left !important;
}
/* IE only */
@media screen and (-ms-high-contrast:none), (-ms-high-contrast:active) { 
  #theme button.back:before {
    font-family: "Segoe UI Symbol";
    content: "\E001";
    background: none;
  }
  .list.select li.selected::after {
    font-family: "Segoe UI Symbol";
    content: "\E008";
    background: none;
  }
}
/* Firefox only */
/*@-moz-document url-prefix() { 
  button.back::before {
    border-left: solid 2px #007aff; !important;
    border-bottom: solid 2px #007aff; !important;
    background-image: none;
    width: 12px;
    height: 12px;
    left: 6px;
    top: 8px;
    transform: rotate(45deg);
  }
}*/
